@import "tailwindcss";

@theme {
    /* Colors */
    --color-primary: var(--color-primary);
    --color-primary-soft: var(--color-primary-soft);
    --color-primary-very-soft: var(--color-primary-very-soft);
    --color-primary-hover: var(--color-primary-hover)

    --color-bg: var(--color-bg);
    --color-surface: var(--color-surface);
    --color-sidebar: var(--color-sidebar);
    --color-border: var(--color-border);

    --color-font-primary: var(--color-text-primary);
    --color-font-secondary: var(--color-text-secondary);
    --color-font-muted: var(--color-text-muted);

    --color-success: var(--color-success);
    --color-warning: var(--color-warning);
    --color-danger: var(--color-danger);
    --color-info: var(--color-info);

    /* Border Radius */
    --radius-sm: var(--radius-sm);
    --radius-md: var(--radius-md);
    --radius-lg: var(--radius-lg);

    /* Shadows */
    --shadow-sm: var(--shadow-sm);
    --shadow-md: var(--shadow-md);
}